name: Build & Push to GHCR

on:
  push:
    branches:
      - main

env:
  # tyk-sre-app
  IMAGE_NAME: ${{ github.repository }}
  CONTAINER_REGISTRY: ghcr.io
  BUILD_PLATFORM: linux/amd64,linux/arm64

jobs:
  container-build-n-push:
    name: Build container image and push them
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.CONTAINER_REGISTRY }}
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Get next version
      id: version
      uses: reecetech/version-increment@2024.10.1
      with:
        scheme: semver
        increment: patch
      
    - name: Build and push docker image
      uses: docker/build-push-action@v5
      with:
        context: ./golang
        push: true
        file: ./golang/Dockerfile
        tags: |
          ${{ env.CONTAINER_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          ${{ env.CONTAINER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.version.outputs.version }}
        platforms: ${{ env.BUILD_PLATFORM }}
