name: Go Test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: golang

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          cache-dependency-path: golang/go.sum

      - name: Install dependencies
        run: go mod download
        
      - name: Test with the Go CLI
        run: go test ./... -v
